<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" 
            class="navbar-toggle" 
            ng-init="navCollapsed = true" 
            ng-click="navCollapsed = !navCollapsed" 
            data-toggle="collapse" 
            data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <span class="ionicons ion-coffee"></span> Lean Coffee!</a>
  </div>
 
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div  ng-controller="NavCtrl" 
        class="collapse navbar-collapse" 
        ng-class="!navCollapsed"
        ng-click="navCollapsed=true"
        id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav navbar-right" ng-show="signedIn()">
      <!-- show if signed in -->
      <li><a href="#/submit_topic">Submit New Topic</a></li>
      <li><a href="#/users/{{ currentUser.username }}">View Profile</a></li>
      <li><a href="#" ng-click="logout()">Logout</a></li>
    </ul>

    <!-- add register and login links when user is not signed into app -->
    <ul class="nav navbar-nav navbar-right" ng-hide="signedIn()" >
      <li><a href="#/instructions">Instructions</a></li>
      <li><a href="#/register">Register</a></li>
      <li><a href="#/login">Log In</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!-- <p ng-hide="location.hash == '#/'" class="container"><a href="#topics">&larr; Back to Home</a></p><br> -->
