<div class="container profile">
 
  <div class="row">
    <div class="col-xs-6">
      <img ng-src="http://www.gravatar.com/avatar/{{ user.md5_hash }}" class="prof-img" />
    </div>
 
    <div class="col-xs-6">
      <span class="name">
        {{ user.username }}
      </span>
    </div>
 
  </div>
 
 
  <div class="row">
 
    <ul class="nav nav-tabs">
      <li class="active"><a data-target="#submissions" data-toggle="tab">Submissions</a></li>
      <li><a data-target="#comments" data-toggle="tab">Comments</a></li>
    </ul>
 
  </div>
 
</div>
 
<div class="tab-content">
  
  <div class="submissions">
    <div ng-include="'views/topics.html'" 
      class="tab-pane active" 
      id="submissions" 
      ng-controller="TopicsCtrl">
    </div>
  </div>


  <div class="container topics-page tab-pane" id="comments">
    <div class="topic row" ng-repeat="(commentId, comment) in comments">
      <div class="col-xs-1">
 
      </div>
      <div class="col-md-9 col-xs-11">
        <div class="info">
          <a href="{{ commentedTopics[comment.topicId].url }}">{{ commentedTopics[comment.topicId].title }}</a>
          <span class="url">({{ commentedTopics[comment.topicId].url | hostnameFromUrl }})</span>
        </div>
 
        <a href="#/topics/{{ comment.topicId }}">comments</a>
        <p>{{ comment.text }}</p>
      </div>
      <div class="col-md-2">
 
      </div>
    </div>
  </div>
</div>