<div class="container topics-page">

<h3>Instructions</h3>
<ol>
  <li>Log In (or Register)</li>
  <li>Create a new topic</li>
  <li>Vote on up to 3 topics you'd like to discuss</li>
</ol>

<h3>Topics</h3>
 
  <div class="topic row" ng-repeat="(topicId, topic) in topics">
    <div class="col-xs-1">
      <div class="vote up">
        <span ng-hide="downVoted(topic)" 
              ng-click="upVoteTopic(topicId, upVoted(topic))">▲</span>
      </div>
     
      <div class="vote down">
        <span ng-hide="upVoted(topic)" 
              ng-click="downVoteTopic(topicId, downVoted(topic))">▼</span>
      </div>
    </div>
    <div class="col-md-9 col-xs-11">
 
      <div class="info">

        <a href="#/topics/{{ topicId }}">
          {{ topic.title }}
        </a>
         | <a href="#/topics/{{ topicId }}"><span class="ionicons ion-chatboxes"></span></a>
         | <a ng-click="deleteTopic(topicId)" 
              ng-show="signedIn() && topic.owner === currentUser.username">
              <span class="ionicons ion-trash-b"></span>
           </a>
 
    </div>
    <div>
      <span>{{ topic.score || 0 }} votes</span> &mdash;
      <span>submitted by <a href="#/users/{{ topic.owner }}">{{ topic.owner }}</a></span>
    </div>
    <div class="col-md-2"></div>
 
  </div><!-- topic row -->
 
</div>