<div class="container topics-page">

<h3>Instructions</h3>
<ol>
  <li>Log In (or Register)</li>
  <li>Create a new topic</li>
  <li>Vote on up to 3 topics you'd like to discuss</li>
</ol>

<timer interval="1000"><div class="progress progress-striped active"> <div class="bar" style="width: {{seconds}}%;"></div> </div></timer>

<h3 class="fa fa-bullhorn"> Discussing</h3>

<div class="topic row"><p>Meeting discussion hasn't started yet.</p></div>

<h3 class="fa fa-lightbulb-o"> To Discuss</h3>
 
  <!-- add "user_has_upvoted" class if they are signedIn() && -->
  <div class="topic row" ng-class="{user_has_upvoted : signedIn() && topic.upvotes[currentUser.username].localeCompare(currentUser.username) === 0}" data-ng-animate="'custom'" ng-repeat="(topicId, topic) in topics | orderByPriority | orderBy:'-score'"> <!-- orderByPriority turns each topic into an array (instead of an object) and creates an array item for topicId called topic.$id -->
    
    <div class="col-xs-1">
      <div class="vote up">
        <span ng-click="upVoteTopic(topic.$id, upVoted(topic))">▲</span>
      </div>
     
    </div>
    <div class="col-md-9 col-xs-11">
 
      <div class="info">

        <a href="#/topics/{{ topic.$id }}">
          {{ topic.title }}
        </a>
         | <a href="#/topics/{{ topic.$id }}"><span class="ionicons ion-chatboxes"></span></a>
         | <a ng-click="deleteTopic(topic.$id)" 
              ng-show="signedIn() && topic.owner === currentUser.username">
              <span class="ionicons ion-trash-b"></span>
           </a>
 
    </div>
    <div>
      <span>{{ topic.score || 0 }} votes</span> &mdash;
      <span>submitted by <a href="#/users/{{ topic.owner }}">{{ topic.owner }}</a></span>
    </div>
    <div class="col-md-2"></div>
 
  </div><!-- topic row -->
 
</div>


<h3 class="fa fa-check-square-o"> Discussed</h3>

<div class="topic row"><p>Nothing has been discussed yet.</p></div>